<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.oldnavigationdrawer">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OldNavigationDrawer">
        <activity
            android:name=".activity.IntentWelcomeActivity">
            <intent-filter>
                <action android:name="com.example.oldnavigationdrawer.activity.IntentWelcomeActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
<!--        vuln exported=true-->
        <activity
            android:name=".activity.WelcomeActivity"
            android:exported="true" />
        <activity android:name=".activity.IntentLoginTestCaseActivity"/>
        <activity android:name=".activity.SimpleLoginTestCaseActivity" />
        <activity android:name=".activity.ContentProviderActivity" />
        <activity android:name=".activity.BoundServiceActivity" />
        <activity android:name=".activity.StartedServiceActivity" />
        <activity android:name=".activity.SecondActivity" />
        <activity android:name=".activity.ActivityLifeCircleActivity" />
        <activity android:name=".activity.ExplicitIntentActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.OldNavigationDrawer.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".receiver.TestBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.AIRPLANE_MODE" />
                <action android:name="android.intent.action.INPUT_METHOD_CHANGED" />
            </intent-filter>
        </receiver>

        <provider
            android:name=".contentprovider.MiniContentProvider"
            android:authorities="com.example.oldnavigationdrawer.provider" />

        <service android:name=".service.BoundService" />
        <service android:name=".service.StartedService" />
    </application>

</manifest>